* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background-color: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.wrapper {
  width: clamp(300px, 50vw, 600px);
  background-color: #191919;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
}
.box {
  max-height: 90vh;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
}
.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
.input-block {
  margin-bottom: 20px;
  width: 100%;
}
.input-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
  color: #facf4b;
  font-family: "IBM Plex Mono";
}
.input-field {
  width: 100%;
  padding: 14px;
  border: 1px solid #dadada;
  font-size: 16px;
  background-color: #fafafa;
  font-family: "IBM Plex Mono";
}
.button {
  margin-top: 20px;
  width: 100%;
  padding: 16px;
  font-size: 24px;
  font-weight: 600;
  background-color: #facf4b;
  color: #191919;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-family: "IBM Plex Mono";
}
.button:hover {
  background-color: #333333;
}
.result {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  font-family: "IBM Plex Mono";
  color: #facf4b;
}
.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.logo-push-ups {
  width: 100px;
  height: 100px;
}
.input-container {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
}
.icons {
  width: 80px;
  height: auto;
  flex-shrink: 0;
}

input[type="range"] {
  width: 100%;
  margin: 10px 0;
}
.slider-container {
  width: 100%;
  margin: 20px 0;
  color: #facf4b;
  font-family: "IBM Plex Mono";
  margin-top: 40px;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #facf4b;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
}

/* Ползунок */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #facf4b;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  cursor: pointer;
  margin-top: -40px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 35px;
  background: #facf4b;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  cursor: pointer;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #facf4b;
  border-radius: 5px;
  outline: none;
  margin: 0; /* <-- ВАЖНО */
  padding: 0; /* <-- ВАЖНО */
}

/* Деления */
.slider-labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 4px;
}
.range-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  width: 100%;
  padding-top: 30px; /* место для значения сверху */
}

.slider-value {
  min-width: 32px;
  font-size: 14px;
  color: #facf4b;
  font-family: "IBM Plex Mono";
}

.slider-value-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.slider-value {
  position: absolute;
  transform: translateX(-50%);
  background: transparent;
  color: #facf4b;
  font-family: "IBM Plex Mono";
  font-size: 14px;
}
.slider-labels-custom {
  position: relative;
  height: 20px;
  margin-top: 8px;
  width: 100%;
}

.slider-labels-custom span {
  position: absolute;
  transform: translateX(-50%);
  font-size: 12px;
  color: #facf4b;
  font-family: "IBM Plex Mono";
}
html,
body {
  overflow-x: hidden;
}
